@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 0,0,0;
  --color-bg1: rgb(252, 228, 192);
  --color-bg2: rgb(255, 231, 204);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --foreground-rgb: 255,255,255;
  --background-start-rgb: var(--black);
  --background-end-rgb: var(--black);
}

body {
  color: rgb(var(--black));
  background: linear-gradient(to bottom,transparent,rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}
